nav {
    background-color: #242424;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 25px;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  
  li:not(:last-child) {
    margin-right: 1.5rem;
    font-weight: bold;
  }
  
  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;

  }
  
  a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    width: 100%;
    height: 0.2rem;
    background-color: #ff007f;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }
  
  a:hover {
    color: #ff007f;
  }
  
  .logo {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    nav {
      flex-wrap: wrap;
      padding: 1rem;
    }
    
    ul {
      justify-content: center;
      margin-top: 1rem;
    }
    
    li:not(:last-child) {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    
    .logo {
      font-size: 1.5rem;
    }
  }
  